    <div>
        <input hidden type="file" #imgFileInput ngFileSelect [options]="options" (change)="onUploadOutput($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>   
        <button mat-raised-button (click)="imgFileInput.click();">Insert Audio/Photo</button>       
    </div>  
    <p class="clear"></p> 
    <form class="example-container">       
      <mat-form-field>
        <mat-select [(ngModel)]="type" id="type" name="type" placeholder="Type">
          <mat-option value="1">Reading</mat-option>
          <mat-option value="2">Listening</mat-option>
          <mat-option value="3">Speaking</mat-option>
          <mat-option value="4">Writing</mat-option>
        </mat-select>
      </mat-form-field>     

      <mat-form-field>
        <input [(ngModel)]="title" (click)="changeText($event)" id="title" name="title" matInput placeholder="Title" value="">
      </mat-form-field>
      <mat-form-field *ngIf="type==1">
        <input [(ngModel)]="answerA" (click)="changeText($event)" id="answerA" name="answerA" matInput placeholder="Answer A" value="">
      </mat-form-field>      
      <mat-form-field *ngIf="type==1">
        <input [(ngModel)]="answerB" (click)="changeText($event)" id="answerB" name="answerB" matInput  placeholder="Answer B" value="">
      </mat-form-field>

      <mat-form-field *ngIf="type==1">
        <input [(ngModel)]="answerC" (click)="changeText($event)" id="answerC" name="answerC" matInput  placeholder="Answer C" value="">
      </mat-form-field>

      <mat-form-field *ngIf="type==1">
        <input [(ngModel)]="answerD" (click)="changeText($event)" id="answerD" name="answerD" matInput  placeholder="Answer D" value="">
      </mat-form-field>

      <mat-form-field *ngIf="type==1">
        <mat-select [(ngModel)]="correctAnswer" id="correctAnswer" name="correctAnswer" placeholder="Correct Answer">
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
          <mat-option value="D">D</mat-option>
        </mat-select>
      </mat-form-field>      
      <div class="button-row">
        <button mat-raised-button (click)="onConfirmClick()">Confirm</button>
        <button mat-raised-button (click)="onCancelClick()">Cancel</button>
      </div> 
      
      <div>
        {{alert_message}}
      </div>
     
    </form>


