<mat-card>
  <mat-card-content>
    <h2 class="example-h2"></h2>
    
    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  
  </mat-card-content>
  <mat-card-actions *ngIf="question">

    <div class="div-test-title">
      <button mat-icon-button (click)="playVoice('你好吗')"> <i class="material-icons">volume_up</i> </button>
      <font class="test-title">{{question.title}}</font>
    </div>

    <mat-grid-list cols="{{col_num}}" rowHeight="8:4">
      <mat-grid-tile>
        <button mat-raised-button color="{{color_A}}" (click)="selectAnswer('A')">{{question.answerA}}</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="{{color_B}}" (click)="selectAnswer('B')">{{question.answerB}}</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="{{color_C}}" (click)="selectAnswer('C')">{{question.answerC}}</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="{{color_D}}" (click)="selectAnswer('D')">{{question.answerD}}</button>    
      </mat-grid-tile>  
    </mat-grid-list>

    <div class="test-check">
      <button mat-raised-button disabled="{{check_disable}}" color="{{color_check}}" (click)="checkAnswer()">Check</button>
    </div>
  </mat-card-actions>
</mat-card>
