<md-card>
  <md-card-content>
    <h2 class="example-h2"></h2>
    <section class="example-section">
      <md-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </md-progress-bar>
    </section>
  </md-card-content>
  <md-card-actions>
    <div class="div-test-title">
      <img class="img-inline" src="assets/voice.jpg" alt="Voice">
      <font class="test-title">你好</font>
    </div>
    <div class="test-answer">
      <button md-raised-button>Sorry</button>
      <button md-raised-button>Goodbye</button>
      <button md-raised-button>Thank you</button>
      <button md-raised-button>Hello</button>
    </div>
    <div class="test-check">
      <button md-raised-button disabled>Check</button>
    </div>
  </md-card-actions>
</md-card>
