.img-inline {
	height:30px;
	width:30px;
	display: inline;
}
.test-title {
	font-size: 120%;
}
.div-test-title {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:50px;
}
.test-check {
  margin-left: 20px;
  margin-top: 20px;	
  margin-bottom:20px;
  margin-right:20px;
  text-align:center
}
.inline_p {
	display: inline;
}
.answer_button {
	width: 80%;
	height: 50px;
	display: inline-block;
}
.width_100 {
	width: 100%;
}
.center_align {
	text-align: center;
	align-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}