

<md-toolbar>
<span>Learn Chinese, so easy!</span>

<span class="example-spacer"></span>
<span>
	<button md-icon-button (click)="play()">
	  <md-icon>play_circle_fill</md-icon>
	</button>	
	<button md-icon-button (click)="pause()">
	  <md-icon>pause</md-icon>
	</button>		
	<button md-icon-button [mdMenuTriggerFor]="menu">
	  <md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu">
	  <p *ngIf="!authService.isLoggedIn()">
	  <button md-menu-item (click)="openRegisterDialog()">
	    <md-icon>history</md-icon>
	    <span>Sign up</span>
	  </button>
	  </p>
	  <p *ngIf="!authService.isLoggedIn()">
	  <button md-menu-item  (click)="openLoginDialog()">
	    <md-icon>input</md-icon>
	    <span >Sign in</span>
	  </button> 
	  </p>
	  <p *ngIf="authService.isLoggedIn()">
	  <button md-menu-item  (click)="logout()">
	    <md-icon>input</md-icon>
	    <span >Sign out</span>
	  </button> 
	  </p>	  
	</md-menu>
</span>

</md-toolbar>