

<mat-toolbar>
<span>Learn Chinese, so easy!</span>

<span class="example-spacer"></span>
<span>
	<button mat-icon-button (click)="play()">
	  <mat-icon>play_circle_fill</mat-icon>
	</button>	
	<button mat-icon-button (click)="pause()">
	  <mat-icon>pause</mat-icon>
	</button>		
	<button mat-icon-button [matMenuTriggerFor]="menu">
	  <mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
	  <p *ngIf="!authService.isLoggedIn()">
	  <button mat-menu-item (click)="openRegisterDialog()">
	    <mat-icon>history</mat-icon>
	    <span>Sign up</span>
	  </button>
	  </p>
	  <p *ngIf="!authService.isLoggedIn()">
	  <button mat-menu-item  (click)="openLoginDialog()">
	    <mat-icon>input</mat-icon>
	    <span >Sign in</span>
	  </button> 
	  </p>
	  <p *ngIf="authService.isLoggedIn()">
	  <button mat-menu-item  (click)="logout()">
	    <mat-icon>input</mat-icon>
	    <span >Sign out</span>
	  </button> 
	  </p>	  
	</mat-menu>
</span>

</mat-toolbar>