.img-inline {
	height:30px;
	width:30px;
	display: inline;
}
.test-title {
	font-size: 120%;
}
.div-test-title {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:50px;
}
.test-check {
  margin-left: 20px;
  margin-top: 20px;	
  margin-bottom:20px;
  margin-right:20px;
  text-align:center
}
.inline_p {
	display: inline;
}
.answer_button {
	width: 80%;
	height: 50px;
}
.width_100 {
	width: 100%;
}
.width_100px {
	width: 200px;
	size: 200;
}
.center_align {
	text-align: center;
	align-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.lesson_completed {
	padding-top: 50px;
	padding-bottom: 30px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;
}
.class_buttonOption {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;  
}
.button_selected {background-color: #008CBA;} /* Blue */
.button_unselected {background-color: #e7e7e7; color: black;} /* Gray */ 
.option_button {
  margin: 10px;
  border: 10px;
}
.line{
width: 100%;
height: 47px;
border-bottom: 1px solid black;
}