main#content {
    width: 1600px;
    margin: 0 auto;
    max-width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.alert_message {
	color: #ffebee;
}
