<md-grid-list cols="{{col_num}}" rowHeight="8:9">

  <md-grid-tile>
    <md-card class="example-card">

      <img md-card-image src="assets/pronunciation.jpg" alt="Photo of a Shiba Inu">
      <div>
        <button md-raised-button (click)="startCourse('basic')">Basic</button>
    </div>  
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="example-card">

      <img md-card-image src="assets/pronunciation.jpg" alt="Photo of a Shiba Inu">
      <div>
        <button md-raised-button (click)="startCourse('family')">Family</button>
    </div>  
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="example-card">

      <img md-card-image src="assets/pronunciation.jpg" alt="Photo of a Shiba Inu">
      <div>
        <button md-raised-button (click)="startCourse('animal')">Animal</button>
    </div>  
    </md-card>
  </md-grid-tile>

</md-grid-list>