<div class="course-form-container">
  <div class="form-row">
  	<button mat-raised-button color="primary" (click)="createUpdateCourse()">{{createOrUpdate}}</button>
  </div>  
</div>

<div>
<mat-grid-list cols="3" rowHeight="8:9">

  <mat-grid-tile *ngFor="let course of courses; let i = index">
    <mat-card class="example-card" >
      <div class="button_bottom">
        <img mat-card-image src="{{course.image}}" alt="{{course.name}}">
      </div>
      <div class="button_bottom">
        <button mat-raised-button (click)="listQuestions(course._id)">{{course.name}}</button>

        <button mat-raised-button (click)="deleteCourse(course._id)">Delete</button>

        <button mat-raised-button (click)="editCourse(course._id,course.sequence,course.name,course.image)">Edit</button>
    </div>  
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
</div>
